<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-nav-bar
      [Busqueda]="Busqueda"
      (buscarEvent)="onBuscar($event)"
    ></app-nav-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="news-row">
    <ng-container *ngFor="let noticia of noticias">
      <ion-col size="12" size-md="6" size-lg="4" class="contenedor">
        <app-news-card
          [TitNoti]="noticia.title"  
          [DescripNoti]="noticia.desc"
          [ImagNoti]="noticia.img" 
          class="image-card"
        ></app-news-card>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>

